<div class = "container">
    <p style="font-size:50px; text-align:center;">
    Song name</p>
    <p style="text-align:center;
    font-family:'Times New Roman', Times, serif">
        ID : <br>Name : <br>Group ID : <br>Group name : <br>Artist ID : <br>First name : <br>AlbumID : <br>Album name : <br>Number of record : <br>Year : </p>
    <button mat-button class = "request-button2">Edit Song<br>Information</button>
    <button mat-button class = "request-button3">Delete this song<br>from the database</button>
</div>